<%- include("../classic/navBar.ejs") %>
<br>
<div style="border: 1px solid black; border-radius: 20px; background-color: rgb(178, 243, 229);" class="best col-6 text-center offset-3">
    <br>
    <h3>Thankyou ! to @ Mummy </h3>
    <h3>Thankyou ! to @ Papa </h3>
    <p>Reason :-  You Already Know</p>
    <h3>Thankyou ! to @ Bhai </h3>
    <p>Reason :- To Support on Every Moment</p>
    <br>
    <hr class="col-8 offset-2">
    <br>
    <h3>Thanks ! to @ Rohit</h3>
    <p>Reason :- Help me as Teacher , Mentor , Motivator</p>
    <p>I Start Lerning this under your Help and Mentorship</p>
    <h3>Thanks ! to @ Other which don't Mention</h3>
    <p>For Every Major And Minor Support</p>
    <br>
</div>