<%- include("../classic/instnav.ejs") %>
<div class="drak">
    <div class="best">
        <br><br><br>
        <div style=" display: flex; justify-content: center;">
            <i style="color: red; font-size: 3rem;" class="fa-solid fa-o"></i><i style="color: red; font-size: 3rem;" class="fa-solid fa-exclamation"></i><i style="color: red; font-size: 3rem;" class="fa-solid fa-exclamation"></i><i style="color: red; font-size: 3rem;" class="fa-solid fa-o"></i>
            
        </div>
        <div class="mb-2" style="display: flex; justify-content: center;">
            <h6>JAI JAGANNATH</h6>
        </div>
        <br>
        <h3 class="text-center">Welcome to ChatSystem</h3>
        <br>
        <form style="display: flex; justify-content: center;" class="mb-2" method="get" action="/" >
            <a  style="display: flex;padding: 0.5rem 3rem 0.5rem 3rem; justify-content: center; font-size: larger; font-weight: 700;" href="/chats" style="width: 120px; margin-right: 10px; font-weight: 700;" class=" btn btn-success" type="submit">Enter  </a>
        </form>
        <br>
          <br>
        <div class="offset-2 col-8" style="border: 2px solid rgb(4, 21, 45); padding: 0.5rem; display: flex; border-radius: 20px; justify-content: center;  background-color: rgb(1, 24, 40)">
            <i style="margin-right: 0.6rem; color: #fbff00; font-size: 2rem;" class="fa-regular fa-lightbulb"></i>
            <h2 style="text-decoration: underline; color: white;">Instruction</h2>
            <i style="margin-left: 0.6rem; color: #fbff00; font-size: 2rem;" class="fa-regular fa-lightbulb"></i>
        </div>



        <div style="margin: 2%; width: 94%; ">
            <div  class="col-12 mt-3  card text-bg-dark"  >
                <img style="height: 70rem; width: 100%;  opacity: 0.4;" src="https://img.freepik.com/premium-photo/tech-abstract-background-crypto-technology-background-ai-generator_954970-778.jpg?w=360" class="card-img" alt="">

                    <div class="card-img-overlay" >
                        <div style=" display: flex; justify-content: center;">
                            <div style="padding: 1rem ;">
                                <div   class="offset-4 mb-3"><i style=" font-size: 60px;" class="fa-solid fa-laptop"></i></div>
                                <h3><i style="margin-right: 1rem;" class="fa-regular fa-star"></i>Login / Sign up</h3>
                                <h5>
                                    <i style="margin-right: 1rem;  font-size: small;" class="fa-regular fa-circle-dot"></i>You have to log in or sign up before entering any card.
                                <h5>
                                    <i style="margin-right: 1rem;  font-size: small;" class="fa-regular fa-circle-dot"></i>In Sign Up, enter your Name, User ID, and create a Password.
                                </h5>
                                <h5>
                                    <i style="margin-right: 1rem;  font-size: small;" class="fa-regular fa-circle-dot"></i>In Login, enter your User ID and Password.
                                </h5>
                                <br>
                                <hr style=" margin: 0 18rem 0 18rem;">
                    
                                <br>
                                <h3><i style="margin-right: 1rem;" class="fa-regular fa-star"></i> Cards Info</h3>
                                
                                <h5>
                                    <i style="margin-right: 1rem;  font-size: small;" class="fa-regular fa-circle-dot"></i>The Navbar has a Card option; use it if it has many cards. Here, "cards" means groups having different topics.
                                </h5>
                                 <h5>
                                    <i style="margin-right: 1rem;  font-size: small;" class="fa-regular fa-circle-dot"></i>Use that card to reach many cards; here, "cards" means groups having different topics where you can chat.
                                </h5>
                                <h5>
                                    <i style="margin-right: 1rem; font-size: small;" class="fa-regular fa-circle-dot"></i>All your groups are displayed as interactive cards. Each card shows:
                                </h5>
                                <div style="margin-left: 5rem;">
                                    <h5><i  style="margin-right: 1rem; color: rgb(255, 255, 255); font-size: small;" class="fa-regular fa-circle-dot"></i>Title </h5>
                                    <h5><i style="margin-right: 1rem; color: rgb(255, 255, 255); font-size: small;" class="fa-regular fa-circle-dot"></i>Description (Aim)</h5>
                                    <h5><i style="margin-right: 1rem; color: rgb(255, 255, 255); font-size: small;" class="fa-regular fa-circle-dot"></i>Category</h5>

                                    
                                </div>  
                                <h5>
                                    <i style="margin-right: 1rem; font-size: small;" class="fa-regular fa-circle-dot"></i>In every card, you get more options if you are the owner of the card:
                                </h5>
                                <div style="margin-left: 5rem;">
                                    <h5><i style="margin-right: 1rem; color: rgb(255, 255, 255); font-size: small;" class="fa-regular fa-circle-dot"></i>Edit Button</h5>
                                    <h5><i style="margin-right: 1rem; color: rgb(255, 255, 255); font-size: small;" class="fa-regular fa-circle-dot"></i>Delete Button</h5>
                                </div> 
                                <h5>
                                    <i style="margin-right: 1rem; font-size: small;" class="fa-regular fa-circle-dot"></i>
                                    If you want to make a new card according to your will, then use the New Chats button present in the Navbar and fill out the form. Fill in all details and images in png, jpeg, or other formats. 
                                    <h5 style="margin-left: 30px;">
                                       Fill all detail and image in png , jpeg or other formate.
                                    </h5>
                                </h5>
                            
                            </div>
                            
                        </div>
                        <hr style=" margin: 0 18rem 0 18rem;">
                    
                        <br><br>
                    
                        <div style=" display: flex; justify-content: center;">
                            <div>
                                <div   class="offset-5 mb-3"><i style=" font-size: 60px;" class="fa-solid fa-question"></i></div>
                                <div style="padding: 0.5rem ;">
                                    <h3><i style="margin-right: 1rem; " class="fa-regular fa-star"></i>Why Use This Platform ? </h3>
                                    <h5>
                                        <i style="margin-right: 1rem;  font-size: small;" class="fa-regular fa-circle-dot"></i>Effortless Group Management .
                                    </h5>
                                    <h5><i  style="margin-left: 2rem;margin-right: 1rem; color: rgb(255, 255, 255); font-size: small;" class="fa-regular fa-circle-dot"></i>Create, edit, and manage your groups with ease.</h5>
                                </div>
                                <div style="padding: 0.5rem ;">
                                    <h5><i style="margin-right: 1rem;  font-size: small;" class="fa-regular fa-circle-dot"></i>Seamless Communication</h5>
                                    <h5><i  style="margin-left: 2rem; margin-right: 1rem; color: rgb(255, 255, 255); font-size: small;" class="fa-regular fa-circle-dot"></i> with members in real-time through chat, polls, and opinions.</h5>
                            
                                </div>
                                <div style="padding: 0.5rem ;">  
                                    <h5><i style="margin-right: 1rem;  font-size: small;" class="fa-regular fa-circle-dot"></i>Complete Control</h5>
                                    <h5><i  style="margin-left: 2rem;margin-right: 1rem; color: rgb(255, 255, 255); font-size: small;" class="fa-regular fa-circle-dot"></i>Admins have full control over group actions, including editing and deletion.</h5>
                                </div>
                            </div>
                            
                            
                        </div>
                    
                    
                    
                    
                        <br>
                        
                        <br><br>
                        
            </div>
        </div>
    </div>
    <br><br><br><br><br><br>
</div>

<%- include("../classic/footer.ejs") %>
