<%- include("../classic/navBar.ejs") %>
<div class="dark">

 



  <div class="best" style="margin: 2%; width: 94%;">
      <div  class="col-12 mt-3  card text-bg-dark"  >
          <img style="height: 37rem; width: 100%;  opacity: 0.6;" src="https://plus.unsplash.com/premium_photo-1682464651356-3c6780eff00c?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cm9ib3QlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww" class="card-img" alt="">
          <div class="card-img-overlay">
              <form  method="post" action="/chats"  >
                  <h3  style="display: flex; justify-content: center;"><i style="margin-right:1rem ;" class="fa-solid fa-pen-to-square"></i>New Card</h3>
                  <div class="mb-3 ">
                    <label for="title" style="font-size: larger; font-weight: 600;" class="mt-3 form-label"><i style="margin-right:1rem ;" class="fa-solid fa-star"></i>Title of group</label>
                    <input placeholder="Enter Title" name="chat[title]" style="font-size: larger; font-weight: 600;" type="text" class="form-control" id="title" aria-describedby="emailHelp" required>
                    <div id="title" class="form-text">We'll never share your email with anyone else.</div>
                  </div>
                  <div class="mb-3 ">
                    <label for="image" style="font-size: larger; font-weight: 600;"  class="form-label"><i style="margin-right:1rem ;" class="fa-solid fa-star"></i>Image URL</label>
                    <textarea placeholder="Enter image URL" name="chat[image]" style="font-size: larger; height: 2.3rem; font-weight: 600;" type="text" class="form-control" id="image" ></textarea>
                    <div id="title" class="form-text">Just copy Image URL link from Google paste .</div>
                  </div>
                  <div class="mb-3 ">
                      <label for="aims" style="font-size: larger; font-weight: 600;"  class="form-label"><i style="margin-right:1rem ;" class="fa-solid fa-star"></i>Aims of Group</label>
                      <input placeholder="Enter your Aim to make this " style="font-size: larger; font-weight: 600;" name="chat[aims]" type="text" class="form-control" id="aims" required>
                      
                  </div>

                  <div>
                    <label for="category"  style="font-size: larger; font-weight: 600;"  class="form-label"><i style="margin-right:1rem ;" class="fa-solid fa-star"></i>Category of Group</label>
                    <select required id="category" style="font-size: larger; font-weight: 600;" name="chat[category]" class="form-select form-select" aria-label="Small select example">
                      <option selected>Select</option>
                      <option value="Entertainment">Entertainment</option>
                      <option value="Study">Study</option>
                      <option value="travel">travel</option>
                      <option value="History">History</option>
                      <option value="family">family</option>
                      <option value="Religious">Religious</option>
                    </select>
                  </div>
                  <div class="mb-2 mt-2 form-check ">
                    <input required type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label  style="font-size: large; font-weight: 400;" class="form-check-label"  for="exampleCheck1">Abuse is Uncontrolable</label>
                  </div>
                  
                  <button style="width: 100px; color: black;" type="submit" class="btn btn-light col-1 offset-4"  >Submit</button>
                </form>
          </div>
        </div>
  </div>
      
 
</div>

<%- include("../classic/footer.ejs") %>