<%- include("./header.ejs") %>

<div style="background-color: black; height: 1px; margin-top: 2rem; margin-top: 1rem; opacity: 0.5;"  class="col-8 offset-2">

</div>

<div style=" color: black;" class="card-footer text-center  text-body-secondary">
    <div>
        <div >
            <a style="font-size:xx-large ;" href="https://www.linkedin.com/in/uday-chandra-14b8bb330?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app "><i  class="fa-brands fa-linkedin"></i></a>
            <a style="font-size:xx-large ;"  href="https://www.instagram.com/u_josho?igsh=a3EzZG16ZWJobzVy "><i style="color: #e608ff;" class="fa-brands fa-instagram"></i></a>
            <a style="font-size:xx-large ;" href=""><i style="color: #05a84b;"  class="fa-brands fa-whatsapp"></i></a>
        </div>
        
    </div>
</div>

<div style=" color: black;" class="card-footer text-center  text-body-secondary">
    <div>
        
        <div class="mt-3" >
            <p  style=" margin: 0;" ><a style="text-decoration: none;" href="/credit">Credit</a></p>
            <p  style=" margin: 0;"><a style="text-decoration: none;" href="/term/condition">Term</a></p>
            <p  style=" margin: 0;" ><a style="text-decoration: none;" href="/term/condition">Condition</a></p>
            
        </div>
    </div>
    <br>
</div>